@media screen and (max-width: 768px) {
  #main-nav{
    display: none;
  }
  #ham-nav{
    display: flex;
  }
  .img-row {
      grid-template-columns:1fr 1fr;
    gap: 2rem;
      justify-items:center
    }
    .features{
      display: grid;
      row-gap: 2rem;
      grid-template-columns: repeat(2,1fr);
    }
    .offer-img img{
      width: 20rem;
    }
    .col-5 img{
      width: 8rem;
    }

  }

  @media screen and (max-width: 426px) {
    
  h1{
    font-size: 1.5rem;
  }
    #main-nav{
      display: none;
    }
    #ham-nav{
      display: flex;
    }
    .hero-section{
      display: grid;
      grid-template-columns:1fr;
      justify-items: center;
      gap: 3rem;
      align-items: center;
      }
      .img-row {
      margin-top: 3rem;
        grid-template-columns:1fr;
        gap: 2rem;
        justify-items:center
      }
      .features-two{
        grid-template-columns: repeat(2,1fr);
      }
      .offer{
        display: grid;
        grid-template-columns:1fr;
        justify-items: center;
      }
      .brands{
        padding: 2rem;
        display: grid;
       grid-template-columns: repeat(2,1fr);
      }
      .footer{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
       gap: 2rem;}
    }